*.html
samuel smith oatmeal stout/readme.md~
india red ale/.Rhistory
*.Rmd~
*.R~
*.md~
*.Rmd#
*.md#
*.R#
.#*
scripts/.#brewlog-template.Rmd
scripts/.#brewlog-template.R
scripts/.Rhistory
scripts/~$Ez water calculator 302 metric.xlsx
scripts/.RData
